<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.imbaads.test7" 
          xmlns:tools="http://schemas.android.com/tools" 
          android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:isGame="true" 
               android:banner="@drawable/app_banner" android:allowBackup="true" android:hardwareAccelerated="true">
    <activity android:name="com.unity3d.player.UnityPlayerActivity" android:label="@string/app_name" android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <activity android:name="com.mintegral.msdk.interstitial.view.MTGInterstitialActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
    <activity android:name="com.mintegral.msdk.offerwall.view.MTGOfferWallActivity" android:screenOrientation="portrait" android:configChanges="screenSize|orientation" />
    <activity android:name="com.mintegral.msdk.offerwall.view.MTGOfferWallRewardVideoActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="landscape" />
    <activity android:name="com.mintegral.msdk.mtgjscommon.authority.activity.MTGAuthorityActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    <activity android:name="com.mintegral.msdk.shell.MTGActivity" android:configChanges="keyboard|orientation" android:screenOrientation="portrait" />
    <activity android:name="com.mintegral.msdk.activity.MTGCommonActivity" android:configChanges="keyboard|orientation" android:screenOrientation="portrait" android:exported="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>


    <!--
    <provider android:name="com.mintegral.msdk.base.utils.MTGFileProvider" 
              android:authorities="com.imbaads.test1.mtgFileProvider"
              android:exported="false" android:grantUriPermissions="true">
      
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/mtg_provider_paths" />
    </provider> 
    -->
    
    <receiver android:name="com.mintegral.msdk.click.AppReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <service android:name="com.mintegral.msdk.shell.MTGService">
      <intent-filter>
        <action android:name="com.mintegral.msdk.download.action" />
      </intent-filter>
    </service>
  </application>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- 如果非Google play上线版本SDK ，以下两条权限必须加上 -->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>